<div class="curtain hide">
  <div class="popup">
    <h1 class="post-title alignCenter floatCenter">Free sample</h1>
    <p class="tagline-large alignCenter floatCenter">
      Not sure if this book is for you?
    </p>
    <div class="group floatCenter alignCenter b-m-2">
      <a href="/better-web-typography-for-a-better-web-sample.pdf">
        <img src="/assets/img/book/sample-book-large.jpg" alt="Better Web Type book sample" width="140" class="floatCenter">
      </a>
    </div>
    <a href="/better-web-typography-for-a-better-web-sample.pdf" class="button floatCenter alignCenter" id="course-widget-cta">Get the free sample</a>
    <a href="javascript:void(0);" class="no-thanks alignCenter floatCenter">No, thanks</a>
  </div>
</div>

<script>
  var mouseX = 0;
    var mouseY = 0;
    var popupCounter = 0;

    document.addEventListener("mousemove", function (e) {
      mouseX = e.clientX;
      mouseY = e.clientY;
    });

    $(document).mouseleave(function () {
      if (mouseY < 100) {
        if (popupCounter < 1) {
          // alert("Please don't close the tab!");
          $(".curtain").fadeIn();
        }
        popupCounter++;
      }
    });

    $(".no-thanks").on("click", function() {
      $(".curtain").fadeOut();
    })
</script>