<div class="curtain hide">
  <div class="popup">
    <h1 class="post-title alignCenter floatCenter">Better Web Type Course</h1>
    <p class="tagline-large alignCenter floatCenter">
      Curious about typography?<br>
      Get the free web typography course
    </p>
    <div class="group course-rating floatCenter b-m-2">
      <picture class="floatLeft rating">
        <source srcset="/assets/img/rating@2x.png 2x, /assets/img/rating.png" media="(max-width: 450px)">
        <source srcset="/assets/img/rating@2x.png 2x, /assets/img/rating.png">
        <img src="/assets/img/rating.png" alt="5 stars">
      </picture>

      <span class="f-acumin">
        <strong>&nbsp;4.7</strong> (1,056 reviews)
      </span>
    </div>
    <!-- <ul class="floatCenter f-acumin">
      <li class="no-bottom-margin">
        7 free lessons straight to your inbox
      </li>
      <li class="no-bottom-margin">
        Each lesson is a 5-minute read
      </li>
      <li class="no-bottom-margin">
        Dive deeper with suggested articles
      </li>
    </ul> -->
    <a href="/" class="button floatCenter alignCenter" id="course-widget-cta">Get the free course</a>
    <a href="javascript:void(0);" class="no-thanks alignCenter floatCenter">No, thanks</a>
  </div>
</div>

<script>
  var mouseX = 0;
    var mouseY = 0;
    var popupCounter = 0;

    document.addEventListener("mousemove", function (e) {
      mouseX = e.clientX;
      mouseY = e.clientY;
    });

    $(document).mouseleave(function () {
      if (mouseY < 100) {
        if (popupCounter < 1) {
          // alert("Please don't close the tab!");
          $(".curtain").fadeIn();
        }
        popupCounter++;
      }
    });

    $(".no-thanks").on("click", function() {
      $(".curtain").fadeOut();
    })
</script>