{%- if include.link -%}
<a href="{{ include.link }}">
  <img srcset="{{ post.image | replace: '@2x','' }},
  {{ post.image | replace: '@2x','@1-5x' }} 1.5x,
  {{ post.image }} 2x" src="{{ post.image }}" alt="{{ post.title }}">
</a>
{%- else -%}
<a href="{{ post.url }}">
  <img srcset="{{ post.image | replace: '@2x','' }},
  {{ post.image | replace: '@2x','@1-5x' }} 1.5x,
  {{ post.image }} 2x" src="{{ post.image }}" alt="{{ post.title }}">
</a>
{%- endif -%}