<section id="subscribe" class="subscribe">
  <!-- <a href="javascript:void(0)" id="close-form" class="mobile-only close-form">Close</a> -->
  <h2 class="mobile-only">Sign up for free</h2>
  <div class="form-wrapper">
    <form class="f-acumin cf">
      <!-- <input type="hidden" name="u" value="d2aaa3155cfda7e76c73817a0">
      <input type="hidden" name="id" value="b76a5d78ca"> -->

      <div id="mergeTable" class="mergeTable cf">
        <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
          <div class="field-group">
            <div class="form-name">
              <label for="name">First name:</label>
              <input id="FNAME" type="text" autocapitalize autocorrect="off" name="FNAME" size="25" value=""
                placeholder="e.g. Gordon" required>
            </div>
            <div class="form-surname">
              <label for="surname">Last name:</label>
              <input id="LNAME" type="text" autocapitalize autocorrect="off" name="LNAME" size="25" value=""
                placeholder="e.g. Freeman" required>
            </div>
            <div class="cf">
              <label for="email">Email address:</label>
              <input id="EMAIL" type="email" autocapitalize="off" autocorrect="off" name="EMAIL" size="25" value=""
                placeholder="e.g. gordon@gmail.com" required>
            </div>
            <div class="mc-field-group input-group">
              <div class="label">I’m a&hellip; (optional)</div>
              <ul class="ima">
                <li><input type="radio" value="1" name="INTEREST" id="mce-group[47261]-47261-0"><label
                    for="mce-group[47261]-47261-0">Web designer</label></li>
                <li class="radio-developer"><input type="radio" value="2" name="INTEREST"
                    id="mce-group[47261]-47261-1"><label for="mce-group[47261]-47261-1">Web developer</label></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="hide">
        {% if include.source == "Course" %}
          <label class="radio" for="MERGE8-1">
            <input type="radio" data-dojo-type="dijit/form/RadioButton" name="SENDCOURSE" id="MERGE8-1" value="Yes" class="av-radio" checked="checked"><span>Yes</span>
          </label>
        {% else %}
          <label class="radio" for="MERGE8-0"><input type="radio" data-dojo-type="dijit/form/RadioButton" name="SENDCOURSE" id="MERGE8-0" value="No" class="av-radio" checked="checked"><span>No</span></label>
        {% endif%}
        <select class="select-small" id="JOINED" name="JOINED">
          <option value="{{ include.source }}" selected>{{ include.source }}</option> <!-- Course/Blog/Triangle -->
        </select>
        <input type="text" name="b_d2aaa3155cfda7e76c73817a0_4a267a6451" tabindex="-1" value="">
      </div>

      <div class="submit_container clear cf alignCenter">
        {% if include.source == "Course" %}
          <button id="myButton" class="button" name="submit">Start the free course</button>
          <div class="small">You’ll receive your first lesson in less than a minute.</div>
        {% else %}
          <button id="myButton" class="button" name="submit">Send me cool stuff</button>
        {% endif %}
      </div>

    </form>

    <div id="msg" class="hide">
      <div id="msgContent"></div>
    </div>

  </div>
</section>