/* Links
   ========================================================================== */

a {
  background: transparent;
  color: $bwt-blue;
  transition: color .3s;

  &:active,
  &:hover {
    outline: 0;
  }

  &:visited {
    color: darken($bwt-blue, 15%);
  }

  &:active {
    color: lighten($bwt-blue, 15%);
  }
}

.block-link {
  background: $color-light-gray;
  padding: 15px 40px;
}

.button-secondary {
  box-sizing: border-box;
  font-family: $custom-font-acumin;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  @include margin-top(1);
  background: url(/assets/img/btn-sec.svg) no-repeat;

  a {
    display: block;
    text-decoration: none;
    color: $bwt-mix;
    width: 263px;
    height: 60px;
    // background: $bwt-gradient;
    padding: 15px 0;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
}