// Contain overflow in all browsers.
pre {
  overflow: auto;
}

// Address odd `em`-unit font size rendering in all browsers.
code,
kbd,
pre,
samp {
  font-family: Menlo, monaco, Consolas, "Lucida Console", monospace; 
  font-size: 16px;
  margin-bottom: 0;
}

code {
  padding: 1em;
  display: block;
  background: $bwt-extra-light;
  border-radius: 3px;
  overflow: auto;
}

@media screen and (min-width: #{ $max-width + 5 + 'em'}) {
  code {
    padding: 2em;
  }
}

p code {
  display: inline;
  padding: 3px 5px;
  color: $bwt-pink;
}