<a href="/web-typography-book/">
  <img srcset="/assets/img/book-image-centred.png,
              /assets/img/book-image-centred@1-5x.png 1.5x,
              /assets/img/book-image-centred@2x.png 2x" src="/assets/img/book-image-centred.png"
    alt="Better Web Type book" class="floatCenter">
</a>
<p>Did you enjoy what you just read? Great, I have much more of this stuff in my <a href="/web-typography-book/">book about web typography</a> that I wrote. It’s very popular with web designers and developers, you should definitely check it out.</p>