<section class="widget alignCenter no-padding-bottom group">
  <img src="/assets/img/widgets/choosing-fonts.gif" width="250"
    alt="Choosing fonts" class="floatCenter no-bottom-margin">
    <div class="uppercase f-acumin f-s-14px">Lesson 4</div>
  <h3 class="h2 max-width-500px floatCenter">Choosing fonts</h3>
  <p class="tagline-large">How to make original font choices</p>
  <p class="f-acumin max-width-500px floatCenter">Join 20,000+ designers and developers, get 7 free lessons straight to your inbox. </p>
  <a href="/" class="button floatCenter" id="choosing-fonts-widget-cta">Get the free lessons</a>
  <p class="small f-acumin floatCenter b-m-2">Just cool web typography lessons, no spam.</p>
</section>