<figure>
  <blockquote>
    <div class="quote-wrap">
      <p>{{ include.quote }}</p>
      {% if include.author %}
        <cite class="no-bottom-margin">—&#8202;{{ include.author }}</cite>
      {% endif %}
    </div>
  </blockquote>
</figure>