{% if page.tags.size > 0 %}
  <div class="post-tags">
    <h1 class="h4 no-top-margin">Tags</h1>
    <ul class="no-bottom-margin">
      {% for tag in page.tags %}
        <li class="post-tag tag f-acumin">
          {{ tag | replace: '-',' ' }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}