---
layout: default
---

<div class="max-width-hdpi">

  <div class="home">
    <div class="post-header group">
      {%- if site.posts.size > 0 -%}
        {%- for post in site.categories['Articles'] limit:1 -%}
          {% unless post.exclude %}
            
            {%- include read-time.html -%}
            
            {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
            {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
            {% assign date_difference = nowunix | minus: posttime %}
            
            <div class="post-info no-bottom-margin">
              {% if date_difference <= 777600 %}
                <span class="tag-new uppercase">New</span>
              {% endif %}
              
              <span class="uppercase f-acumin post-list-category f-s-14px"><a href="/{{ post.categories[0] | downcase }}/">{{ post.categories[0] | replace: '-',' ' }}</a></span>
            </div>
            
            <div class="flex-wrap-c-center no-bottom-margin">
              <div class="col-7 post-info-wrap no-bottom-margin">
                {% if post.title-maxwidth %}
                <h1 class="post-title p-name" itemprop="name headline" style="max-width: {{ post.title-maxwidth }}">
                  <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h1>
                {% else %}
                <h1 class="post-title p-name" itemprop="name headline">
                  <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h1>
                {% endif %}
                <!-- <h1 class="post-title">
                  <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </h1> -->
      
                <p class="post-meta">
                  {%- if post.author -%}
                  {% assign author = site.data.authors[post.author] %}
                  <img 
                    srcset="{{ author.avatar | replace: '@2x','' }},
                            {{ author.avatar | replace: '@2x','@1-5x' }} 1.5x,
                            {{ author.avatar }} 2x" 
                    src="{{ author.avatar }}" 
                    alt="{{ author.name }}" 
                    class="floatLeft" 
                    width="48"
                  >
                  <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span class="p-author h-card" itemprop="name">
                      {{ author.name }}
                    </span>
                  </span><br />
                  {%- endif -%}
                  <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    {{ post.date | date: date_format }}
                  </time> ~ {{ reading_time }}
                </p>
                
                {% if post.intro %}
                  <p class="post-intro tagline-large f-meta">{{ post.intro }}</p>
                {% endif %}
              </div>
                {%- if post.image -%}
                <div class="col-5 post-image-wrap no-bottom-margin">
                  {%- include post-list-image.html -%}
                </div>
                {%- endif -%}
            </div>
  
            <div class="button-secondary">
              <a href="{{ post.url | relative_url }}">Read on &#10141;</a>
            </div>
          {% endunless %}
        {%- endfor -%}
        
      {%- endif -%}
    
    </div>
  
    <div class="group">
      <div class="post-list off-1 col-10">
        <h2 class="h4 t-m-5">{{ page.list_title | default: "Recent posts" }}</h2>
        <hr>
        <ul class="no-bottom-margin">
          {%- for post in site.categories['Articles'] offset:1 -%}
            {% unless post.exclude %}
              {%- include post-list.html type="general" intro="yes" -%}
            {% endunless %}
          {%- endfor -%}
        </ul>
        <a href="/all-posts/" class="f-acumin">View all posts &#10141;</a>
      </div>
    </div>
  </div>

</div>
