---
layout: barebones
---

<article>
  <div class="not-supported curtain alignCenter bg-dark f-smoothing side-pad-10">
    <h2 class="floatCenter">Not supported</h2>
    <p class="floatCenter">Sorry, this game can’t be played on mobile devices.</p>
  </div>

  <!-- <div class="fmg-splash no-bottom-margin alignCenter">
      <h2 class=" floatCenter t-m-4">2/2</h2>
      <p class="uppercase f-acumin f-s-14px  floatCenter">Hard Difficulty</p>
      <div class="awards group floatCenter">
        <div class="t-shirt floatLeft">
          <img src="/assets/img/memory-game/fmg-t-shirt.png" width="138" class="floatCenter">
          <strong class="f-acumin">T-shirt giveaway</strong>
          <p class="">Tweet your best score to enter the T-shirt giveaway*</p>
        </div>
        <div class="book-giveaway floatLeft">
          <img src="/assets/img/memory-game/fmg-book.png" width="130" class="floatCenter">
          <strong class="f-acumin">-50% discount</strong>
          <p class="">Get an instant discount on the Better Web Type ebook.</p>
        </div>
      </div>
      <a href="javascript:void(0)" class="fmg-btn-start button alignCenter floatCenter course_button">Start</a>
      <p class="fmg-disclaimer f-s-14px floatCenter">* Winner will be randomly chosen and announced on July 24 2018 via <a href="https://twitter.com/matejlatin" target="_blank">Twitter</a>.</p>
    </div> -->

  <section class="score-panel group">
    <br>
    <div class="floatLeft moves-counter no-bottom-margin">
      <span class="score-number f-acumin-c"><span class="moves">0</span>/45</span>
      <br><strong class="f-s-14px f-acumin">Moves</strong>
    </div>
    <div class="time floatLeft no-bottom-margin">
      <span class="f-acumin-c score-number"><span class="timer"></span></span>
      <br><strong class="f-s-14px f-acumin">Time</strong>
    </div>
    <!-- <div class="restart" onclick=startGame()>
        <i class="">Restart</i>
      </div> -->
    <div class="pairs no-bottom-margin">
      <img src="/assets/img/memory-game/font-pair.jpg" width="62" class="floatLeft">
      <div class="floatLeft no-bottom-margin">
        <span class="score-number f-acumin-c"><span class="pairs-found">0</span>/14</span>
        <br><strong class="f-s-14px f-acumin">Pairs found</strong>
      </div>
    </div>
  </section>

  <div class="game floatCenter level-2">
    <ul class="deck floatCenter" id="card-deck">
      <li class="card" type="questa-grande">
        <img src="/assets/img/memory-game/memory-game-fonts/questa-grande.jpg">
      </li>
      <li class="card" type="questa-grande">
        <img src="/assets/img/memory-game/memory-game-fonts/questa-grande.jpg">
      </li>
      <li class="card match" type="futura">
        <img src="/assets/img/memory-game/memory-game-fonts/futura.jpg">
      </li>
      <li class="card" type="futura">
        <img src="/assets/img/memory-game/memory-game-fonts/futura.jpg">
      </li>
      <li class="card" type="bodoni">
        <img src="/assets/img/memory-game/memory-game-fonts/bodoni.jpg">
      </li>
      <li class="card match" type="bodoni">
        <img src="/assets/img/memory-game/memory-game-fonts/bodoni.jpg">
      </li>
      <li class="card" type="garamond">
        <img src="/assets/img/memory-game/memory-game-fonts/garamond.jpg">
      </li>
      <li class="card" type="garamond">
        <img src="/assets/img/memory-game/memory-game-fonts/garamond.jpg">
      </li>
      <li class="card" type="helvetica">
        <img src="/assets/img/memory-game/memory-game-fonts/helvetica.jpg">
      </li>
      <li class="card" type="helvetica">
        <img src="/assets/img/memory-game/memory-game-fonts/helvetica.jpg">
      </li>
      <li class="card" type="adelle">
        <img src="/assets/img/memory-game/memory-game-fonts/adelle.jpg">
      </li>
      <li class="card" type="adelle">
        <img src="/assets/img/memory-game/memory-game-fonts/adelle.jpg">
      </li>
      <li class="card open show" type="slabo">
        <img src="/assets/img/memory-game/memory-game-fonts/slabo.jpg">
      </li>
      <li class="card" type="slabo">
        <img src="/assets/img/memory-game/memory-game-fonts/slabo.jpg">
      </li>
      <!-- <li class="card" type="gill-sans">
          <img src="/assets/img/memory-game/memory-game-fonts/gill-sans.jpg">
        </li>
        <li class="card" type="gill-sans">
          <img src="/assets/img/memory-game/memory-game-fonts/gill-sans.jpg">
        </li> -->
      <!-- <li class="card open show" type="baskerville">
          <img src="/assets/img/memory-game/memory-game-fonts/baskerville.jpg">
        </li>
        <li class="card" type="baskerville">
          <img src="/assets/img/memory-game/memory-game-fonts/baskerville.jpg">
        </li> -->
      <li class="card" type="museo-slab">
        <img src="/assets/img/memory-game/memory-game-fonts/museo-slab.jpg">
      </li>
      <li class="card" type="museo-slab">
        <img src="/assets/img/memory-game/memory-game-fonts/museo-slab.jpg">
      </li>
      <li class="card" type="minion">
        <img src="/assets/img/memory-game/memory-game-fonts/minion.jpg">
      </li>
      <li class="card" type="minion">
        <img src="/assets/img/memory-game/memory-game-fonts/minion.jpg">
      </li>
      <li class="card" type="mrs-eaves">
        <img src="/assets/img/memory-game/memory-game-fonts/mrs-eaves.jpg">
      </li>
      <li class="card" type="mrs-eaves">
        <img src="/assets/img/memory-game/memory-game-fonts/mrs-eaves.jpg">
      </li>
      <li class="card open show" type="petersburg">
        <img src="/assets/img/memory-game/memory-game-fonts/petersburg.jpg">
      </li>
      <li class="card" type="petersburg">
        <img src="/assets/img/memory-game/memory-game-fonts/petersburg.jpg">
      </li>
      <li class="card" type="nimbus">
        <img src="/assets/img/memory-game/memory-game-fonts/nimbus.jpg">
      </li>
      <li class="card" type="nimbus">
        <img src="/assets/img/memory-game/memory-game-fonts/nimbus.jpg">
      </li>
      <li class="card open show" type="objektiv">
        <img src="/assets/img/memory-game/memory-game-fonts/objektiv.jpg">
      </li>
      <li class="card" type="objektiv">
        <img src="/assets/img/memory-game/memory-game-fonts/objektiv.jpg">
      </li>
      <li class="card" type="mr-eaves">
        <img src="/assets/img/memory-game/memory-game-fonts/mr-eaves.jpg">
      </li>
      <li class="card" type="mr-eaves">
        <img src="/assets/img/memory-game/memory-game-fonts/mr-eaves.jpg">
      </li>
    </ul>

    <div id="popup1" class="overlay curtain alignCenter bg-dark f-smoothing side-pad-10">
      <div class="alignCenter floatCenter t-m-2">
        <span class="uppercase f-acumin f-s-14px">Level 2</span><br>
        <h2 class="floatCenter no-top-margin"></h2>
        <hr class="floatCenter small-hr">
        <div class="content-1 floatCenter f-acumin">
          Your result:
        </div>
        <div class="content-2 group floatCenter">
          <p class="floatLeft w-50p no-bottom-margin"><span class="score-number f-acumin-c"><span id=finalMove>
              </span>/45</span>
            <br><strong class="f-s-14px f-acumin">Moves</strong></p>
          <p class="floatLeft w-50p no-bottom-margin"><span class="score-number f-acumin-c"><span id=totalTime>
              </span></span>
            <br><strong class="f-s-14px f-acumin">Time</strong></p>
        </div>
        <a class="shareTw" target="_blank">Tweet</a> <a class="shareFb" target="_blank">Share</a>
        <div class="fmg-msg f-acumin floatCenter t-m-1 b-m-2">
        </div>
        <div class="fmg-buttons">
          <a href="javascript:void(0)" class="fmg-btn-again button alignCenter floatCenter course_button">Try again</a>
          <a href="/web-typography-course/" class="fmg-btn-next button alignCenter floatCenter course_button">Check it out</a>
        </div>
      </div>
    </div>
  </div>

</article>

<link rel="stylesheet" type="text/css" href="/assets/memory-game.css">
