---
layout: default
---
<div class="max-width-hdpi group">
  <article class="post">

    <div class="intro-wrap group">
      <div class="">
        <header class="post-header">
          <h1 class="post-title">Book Multibuy</h1>
          <hr>
        </header>

        <div class="post-content">
          <p class="post-intro tagline-large">Buy multiple copies of the “Better Web Typography for a Better Web” eBook.</p>
        </div>
      </div>
      <p>Specify the quantity that you wish to buy and click on the “Buy now” button. You will be directed straight into checkout.</p>

    </div>

    <div class="on-top b-m-4 t-m-5 multibuy">
      <div id="buy-section" class="buy-section group b-m-2">

        <div class="buy-option alignCenter">

          <figure class="alignCenter floatCenter buy-option-image no-bottom-margin">
            <picture>
              <source srcset="/assets/img/book/buy-option-ebook.png 2x, /assets/img/book/buy-option-ebook.png"
                media="(max-width: 320px)">
              <source srcset="/assets/img/book/buy-option-ebook@2x.png 2x, /assets/img/book/buy-option-ebook.png">
              <img src="/assets/img/book/buy-option-ebook@2x.png" alt="Better Web Type Book Basic Edition">
            </picture>
          </figure>

          <h3 class="c-blue f-acumin no-top-margin">Basic</h3>
          <p class="uppercase f-acumin f-s-14px">eBook Only</p>
          <p class="f-s-16px f-acumin b-m-2">PDF, epub (iBooks) & mobi (Kindle) files + source code and live examples.</p>

          <div class="buy-option-footer">
            <p class="f-acumin f-s-20px"> <del>$29.95</del> <strong class="c-mix">$19.95</strong></p>
            <div id='product-component-1571915242501'></div>
            <p class="money-back f-acumin floatCenter no-bottom-margin">30-day money back guarantee</p>
          </div>

        </div>

        <div class="buy-option alignCenter">

          <figure class="alignCenter floatCenter buy-option-image no-bottom-margin">
            <picture>
              <source srcset="/assets/img/book/buy-option-ebook-extras.png 2x, /assets/img/book/buy-option-ebook-extras.png"
                media="(max-width: 320px)">
              <source
                srcset="/assets/img/book/buy-option-ebook-extras@2x.png 2x, /assets/img/book/buy-option-ebook-extras.png">
              <img src="/assets/img/book/buy-option-ebook-extras@2x.png" alt="Better Web Type Book Premium Edition">
            </picture>
          </figure>

          <h3 class="c-gold f-acumin no-top-margin">Premium</h3>
          <p class="uppercase f-acumin f-s-14px">eBook + Extras</p>
          <p class="f-s-16px f-acumin b-m-2">PDF & eBook files + 6 printable cheat sheets, source code, Sketch and Figma
            files, and a bonus chapter.</p>

          <div class="buy-option-footer">
            <p class="f-acumin f-s-20px"> <del>$39.95</del> <strong class="c-mix">$24.95</strong></p>
            <div id='product-component-1571915550978'></div>
            <p class="money-back f-acumin floatCenter no-bottom-margin">30-day money back guarantee</p>
          </div>

        </div>

      </div>

      <p class="alignCenter floatCenter"><em>All major payment methods accepted</em></p>
      <img src="/assets/img/book/payment-methods.jpg" alt="Paypal, Mastercard, Visa, Amex" width="265" class="floatCenter">

      <div class="floatCenter alignCenter author-support o-0 animated f-s-14px">
        <img src="/assets/img/avatar-matejlatin.png" class="author-small">
        <p class="no-bottom-margin">
          <em>All versions come with super-friendly support from <a href="#about-author">the author</a>.</em>
        </p>
      </div>

    </div>

    <script type="text/javascript">
      /*<![CDATA[*/
      (function () {
        var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
        if (window.ShopifyBuy) {
          if (window.ShopifyBuy.UI) {
            ShopifyBuyInit();
          } else {
            loadScript();
          }
        } else {
          loadScript();
        }
        function loadScript() {
          var script = document.createElement('script');
          script.async = true;
          script.src = scriptURL;
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
          script.onload = ShopifyBuyInit;
        }
        function ShopifyBuyInit() {
          var client = ShopifyBuy.buildClient({
            // domain: 'matej-latin.myshopify.com',
            domain: 'shop.betterwebtype.com',
            storefrontAccessToken: 'fbe10b9abc0f4e308ebf1dbf424ba8e2',
          });
          ShopifyBuy.UI.onReady(client).then(function (ui) {
            ui.createComponent('product', {
              id: '1631260213303',
              node: document.getElementById('product-component-1571915242501'),
              moneyFormat: '%24%7B%7Bamount%7D%7D',
              options: {
                "product": {
                  "styles": {
                    "product": {
                      "@media (min-width: 601px)": {
                        "max-width": "calc(25% - 20px)",
                        "margin-left": "20px",
                        "margin-bottom": "50px"
                      }
                    },
                    "button": {
                      ":hover": {
                        "background-color": "#a9468c"
                      },
                      "background-color": "#bc4e9c",
                      ":focus": {
                        "background-color": "#a9468c"
                      },
                      "border-radius": "6px",
                      "padding-left": "85px",
                      "padding-right": "85px"
                    }
                  },
                  "buttonDestination": "checkout",
                  "contents": {
                    "img": false,
                    "button": false,
                    "buttonWithQuantity": true,
                    "title": false,
                    "price": false
                  },
                  "text": {
                    "button": "Buy now"
                  }
                },
                "productSet": {
                  "styles": {
                    "products": {
                      "@media (min-width: 601px)": {
                        "margin-left": "-20px"
                      }
                    }
                  }
                },
                "modalProduct": {
                  "contents": {
                    "img": false,
                    "imgWithCarousel": true,
                    "button": false,
                    "buttonWithQuantity": true
                  },
                  "styles": {
                    "product": {
                      "@media (min-width: 601px)": {
                        "max-width": "100%",
                        "margin-left": "0px",
                        "margin-bottom": "0px"
                      }
                    },
                    "button": {
                      ":hover": {
                        "background-color": "#a9468c"
                      },
                      "background-color": "#bc4e9c",
                      ":focus": {
                        "background-color": "#a9468c"
                      },
                      "border-radius": "6px",
                      "padding-left": "85px",
                      "padding-right": "85px"
                    }
                  },
                  "text": {
                    "button": "Add to cart"
                  }
                },
                "cart": {
                  "styles": {
                    "button": {
                      ":hover": {
                        "background-color": "#a9468c"
                      },
                      "background-color": "#bc4e9c",
                      ":focus": {
                        "background-color": "#a9468c"
                      },
                      "border-radius": "6px"
                    }
                  },
                  "text": {
                    "total": "Subtotal",
                    "button": "Checkout"
                  }
                },
                "toggle": {
                  "styles": {
                    "toggle": {
                      "background-color": "#bc4e9c",
                      ":hover": {
                        "background-color": "#a9468c"
                      },
                      ":focus": {
                        "background-color": "#a9468c"
                      }
                    }
                  }
                }
              },
            });
          });
        }
      })();
    /*]]>*/
    </script>

    <script type="text/javascript">
      /*<![CDATA[*/
      (function () {
        var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
        if (window.ShopifyBuy) {
          if (window.ShopifyBuy.UI) {
            ShopifyBuyInit();
          } else {
            loadScript();
          }
        } else {
          loadScript();
        }
        function loadScript() {
          var script = document.createElement('script');
          script.async = true;
          script.src = scriptURL;
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
          script.onload = ShopifyBuyInit;
        }
        function ShopifyBuyInit() {
          var client = ShopifyBuy.buildClient({
            // domain: 'matej-latin.myshopify.com',
            domain: 'shop.betterwebtype.com',
            storefrontAccessToken: 'fbe10b9abc0f4e308ebf1dbf424ba8e2',
          });
          ShopifyBuy.UI.onReady(client).then(function (ui) {
            ui.createComponent('product', {
              id: '1631260278839',
              node: document.getElementById('product-component-1571915550978'),
              moneyFormat: '%24%7B%7Bamount%7D%7D',
              options: {
                "product": {
                  "styles": {
                    "product": {
                      "@media (min-width: 601px)": {
                        "max-width": "calc(25% - 20px)",
                        "margin-left": "20px",
                        "margin-bottom": "50px"
                      }
                    },
                    "button": {
                      ":hover": {
                        "background-color": "#a9468c"
                      },
                      "background-color": "#bc4e9c",
                      ":focus": {
                        "background-color": "#a9468c"
                      },
                      "border-radius": "6px",
                      "padding-left": "85px",
                      "padding-right": "85px"
                    }
                  },
                  "buttonDestination": "checkout",
                  "contents": {
                    "img": false,
                    "button": false,
                    "buttonWithQuantity": true,
                    "title": false,
                    "price": false
                  },
                  "text": {
                    "button": "Buy now"
                  }
                },
                "productSet": {
                  "styles": {
                    "products": {
                      "@media (min-width: 601px)": {
                        "margin-left": "-20px"
                      }
                    }
                  }
                },
                "modalProduct": {
                  "contents": {
                    "img": false,
                    "imgWithCarousel": true,
                    "button": false,
                    "buttonWithQuantity": true
                  },
                  "styles": {
                    "product": {
                      "@media (min-width: 601px)": {
                        "max-width": "100%",
                        "margin-left": "0px",
                        "margin-bottom": "0px"
                      }
                    },
                    "button": {
                      ":hover": {
                        "background-color": "#a9468c"
                      },
                      "background-color": "#bc4e9c",
                      ":focus": {
                        "background-color": "#a9468c"
                      },
                      "border-radius": "6px",
                      "padding-left": "85px",
                      "padding-right": "85px"
                    }
                  },
                  "text": {
                    "button": "Add to cart"
                  }
                },
                "cart": {
                  "styles": {
                    "button": {
                      ":hover": {
                        "background-color": "#a9468c"
                      },
                      "background-color": "#bc4e9c",
                      ":focus": {
                        "background-color": "#a9468c"
                      },
                      "border-radius": "6px"
                    }
                  },
                  "text": {
                    "total": "Subtotal",
                    "button": "Checkout"
                  }
                },
                "toggle": {
                  "styles": {
                    "toggle": {
                      "background-color": "#bc4e9c",
                      ":hover": {
                        "background-color": "#a9468c"
                      },
                      ":focus": {
                        "background-color": "#a9468c"
                      }
                    }
                  }
                }
              },
            });
          });
        }
      })();
    /*]]>*/
    </script>

  </article>
</div>
