---
layout: default
---

<article>

  <div class="max-width-hdpi">
    <div class="intro-wrap group no-bottom-margin side-pad-10 flex">
      <div class="intro no-bottom-margin col-5 off-1">
        <h1 class="">How much do you know about web typography?</h1>
        <hr>
        <p class="tagline-small">Web typography is a bit tricky. Take this web typography quiz and test your typography
          knowledge.</p>
        <a href="javascript:void(0)" class="button alignCenter take_quiz">Take the quiz</a>
      </div>
      <div class="col-6 hide-mobile">
        <figure>
          <picture class="">
            <source srcset="/assets/img/quiz/quiz-graphic@2x.jpg 2x, /assets/img/quiz/quiz-graphic.jpg"
              media="(max-width: 450px)">
            <source srcset="/assets/img/quiz/quiz-graphic@2x.jpg 2x, /assets/img/quiz/quiz-graphic.jpg">
            <img src="/assets/img/quiz/quiz-graphic.jpg" alt="5 stars">
          </picture>
        </figure>
      </div>
    </div>
  </div>

  <div class="quiz">
    <h2 class="floatCenter side-pad-10 alignCenter">Web typography quiz</h2>
    <div id="surveyContainer"></div>
  </div>

  <div class="quiz_results curtain alignCenter bg-dark f-smoothing side-pad-10">
    <!-- <h2 class="title floatCenter"></h2> -->
    <!-- <hr class="floatCenter"> -->
    <div class="quiz_score"><span class="counter"></span>/100</div>
    <p class="msg floatCenter f-acumin"></p>
    <p class="floatCenter f-acumin no-bottom-margin share_title"><strong>Share your score:</strong></p>
    <a class="shareTw" target="_blank">Twitter</a> <a class="shareFb" target="_blank">Facebook</a>
    <hr class="floatCenter small-hr course_hr">
    <h2 class="floatCenter course_title">Take the free web typography course</h2>
    <p class="floatCenter f-acumin course-desc cta"></p>
    <div class="button_wrapper">
      <a href="/web-typography-course/?utm_source=quiz" class="button alignCenter floatCenter course_button">Check it out</a>
    </div>
  </div>

</article>
