---
layout: default
---

<div class="group max-width-hdpi pos-relative">
  <article class="post">
    
    <div class="intro-wrap">
      <h1 class="">Web Typography Resources</h1>
      <hr>
      <p class="tagline-large">A growing list of web typography related apps,
        tools, plugins and other resources for web designers and web
        developers.</p>
    </div>

    <div class="post-content pos-relative group">
      
      <div class="col-9">

        <div class="resources-container">
          {% for post in site.categories['Resources'] %}
            {% if post.categories contains "Better-Web-Type" %}
              {%- include post-list-resource.html -%}
            {%- endif -%}
          {% endfor %}
        </div>
        
        <h2 id="basics">Basics</h2>
        <hr>
        
        <div class="resources-container">
          {% for post in site.categories['Resources'] %}
            {% if post.categories contains "Basics" %}
              {%- include post-list-resource.html -%}
            {%- endif -%}
          {% endfor %}
        </div>
        
        <h2 id="font-tools">Font Tools</h2>
        <hr>
        
        <div class="resources-container">
          {% for post in site.categories['Resources'] %}
            {% if post.categories contains "Font-Tools" %}
              {%- include post-list-resource.html -%}
            {%- endif -%}
          {% endfor %}
        </div>
        
        <h2 id="typeface-anatomy">Typeface Anatomy</h2>
        <hr>
        
        <div class="resources-container">
          {% for post in site.categories['Resources'] %}
            {% if post.categories contains "Typeface-Anatomy" %}
              {%- include post-list-resource.html -%}
            {%- endif -%}
          {% endfor %}
        </div>
        
        <h2 id="recognizing-choosing-fonts">Recognizing & Choosing Fonts</h2>
        <hr>
        
        <div class="resources-container">
          {% for post in site.categories['Resources'] %}
            {% if post.categories contains "Recognizing-Choosing-Fonts" %}
              {%- include post-list-resource.html -%}
            {%- endif -%}
          {% endfor %}
        </div>
        
        <h2 id="combining-fonts">Combining Fonts</h2>
        <hr>
        
        <div class="resources-container">
          {% for post in site.categories['Resources'] %}
            {% if post.categories contains "Combining-Fonts" %}
              {%- include post-list-resource.html -%}
            {%- endif -%}
          {% endfor %}
        </div>
        
        <h2 id="variable-fonts">Variable Fonts</h2>
        <hr>
        
        <div class="resources-container">
          {% for post in site.categories['Resources'] %}
            {% if post.categories contains "Variable-Fonts" %}
              {%- include post-list-resource.html -%}
            {%- endif -%}
          {% endfor %}
        </div>
        
        <h2 id="opentype">OpenType</h2>
        <hr>
        
        <div class="resources-container">
          {% for post in site.categories['Resources'] %}
            {% if post.categories contains "OpenType" %}
              {%- include post-list-resource.html -%}
            {%- endif -%}
          {% endfor %}
        </div>
        
        <h2 id="vertical-rhythm">Vertical Rhythm</h2>
        <hr>
        
        <div class="resources-container">
          {% for post in site.categories['Resources'] %}
            {% if post.categories contains "Vertical-Rhythm" %}
              {%- include post-list-resource.html -%}
            {%- endif -%}
          {% endfor %}
        </div>
        
        <h2 id="visual-hierarchy">Visual Hierarchy</h2>
        <hr>
        
        <div class="resources-container">
          {% for post in site.categories['Resources'] %}
            {% if post.categories contains "Visual-Hierarchy" %}
              {%- include post-list-resource.html -%}
            {%- endif -%}
          {% endfor %}
        </div>

      </div>

      <div class="show-desktop left-pad-20px f-acumin side-navigation col-3">
        <p class="f-acumin">On this page:</p>
        <ul>
          <li><a href="#basics">Basics</a></li>
          <li><a href="#font-tools">Font Tools</a></li>
          <li><a href="#typeface-anatomy">Typeface Anatomy</a></li>
          <li><a href="#recognizing-choosing-fonts">Recognizing & Choosing Fonts</a></li>
          <li><a href="#combining-fonts">Combining Fonts</a></li>
          <li><a href="#variable-fonts">Variable Fonts</a></li>
          <li><a href="#opentype">OpenType</a></li>
          <li><a href="#vertical-rhythm">Vertical Rhythm</a></li>
          <li><a href="#visual-hierarchy">Visual Hierarchy</a></li>
        </ul>
      </div>
      
    </div>
    
  </article>
</div>