---
layout: default
---



<h1 class="alignCenter">Reviews</h1>
<article class="reviews side-pad-10">
  <div itemscope itemtype="http://schema.org/Product" class="overall-rating alignCenter floatCenter">
    <meta itemprop="description" content="Better Web Type is an easy-to-follow web typography email course for web designers & web developers.">
    <link itemprop="url" href="https://betterwebtype.com" rel="author"/>
    <a class="align-center" itemprop="url" href="https://betterwebtype.com"><span itemprop="name" style="display:block;"><strong>Better Web Type</strong></span></a>
    <div id="overall-rating"></div>
    <div class="align-center" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
      <span id="avgRating" itemprop="ratingValue"></span> based on <span id="reviews-count" itemprop="reviewCount"></span> reviews
    </div>
  </div>
  
</article>