aside {
  display: block;
}

@media screen and (min-width: $desktop) {
  .post-sidebar {
    padding-left: 30px;

    h4,
    .h4 {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 1350px) {
  .post-sidebar {
    padding-left: 0;
  }
}