footer {
  clear: both;
  display: block;
  font-size: 13px;
  max-width: $max-width-mobile;
  @include margin-top(5);
  @include floatCenter;

  a {
    text-decoration: none;
  }

  svg {
    position: static;
  }
}

.contact-list, .social-media-list {
  list-style: none;

  li {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $desktop) {
  footer {
    max-width: none;
    @include margin-top(6);
  }

  .footer-col {
    padding-right: 20px;
    position: relative;
  }

  .bwt-hedera {
    position: absolute;
    left: -75px;
  }
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: $bwt-medium;
  vertical-align: text-bottom;
  margin-bottom: 0;
  margin-right: 5px;
}