.home {
  .button-secondary {
    width: 199px;
    background: url(/assets/img/btn-sec-200px.svg);
  } 

  .button-secondary a {
    width: 199px;
  }

  .post-intro {
    @include margin-bottom(1);
    max-width: 550px;
    hyphens: auto;
  }
}
