.bwt-resources {
  width: 100%;
  max-width: 800px;
}

.resources-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.resource {
  width: 100%;
  max-width: 400px;

  * {
    @include margin-bottom(0.5);
  }
}

@media screen and (min-width: 48em) {
  .resource {
    // width: 50%;
    flex: 0 0 auto;
    padding-right: 30px;
  }
}

.tag-bg-frontend {
  background: #24D7D1;
  color: #fff;

  &:hover {
    background: darken(#24D7D1, 5%)
  }
}

.tag-bg-sketch {
  background: #E4B53A;
  color: #fff;

  &:hover {
    background: darken(#E4B53A, 5%)
  }
}

.tag-bg-chrome {
  background: $bwt-red;
  color: #fff;

  &:hover {
    background: darken($bwt-red, 5%)
  }
}

.tag-bg-video {
  background: $bwt-pink;
  color: #fff;

  &:hover {
    background: darken($bwt-pink, 5%)
  }
}

a.check-it-out {
  text-decoration: none;
}

@media screen and (min-width: 48em) {
  a.check-it-out {
    display: none;
  }
}

.side-navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.res-book-feature {
  width: 100%;
  max-width: 800px;
  border-top: 2px solid #eaeaea;
  padding-top: 30px;
}